<p id="notice"><%= notice %></p>

<p>
  <strong>Semester:</strong>
  <%= @offering.semester %>
</p>

<p>
  <strong>Course:</strong>
  <%= @offering.course %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @offering.credits %>
</p>

<p>
  <strong>Format:</strong>
  <%= @offering.format %>
</p>

<p>
  <strong>Building:</strong>
  <%= @offering.building_id %>
</p>

<p>
  <strong>Room:</strong>
  <%= @offering.room_id %>
</p>

<%= link_to 'Edit', edit_offering_path(@offering) %> |
<%= link_to 'Back', offerings_path %>
