<%= form_for(@educator) do |f| %>
  <% if @educator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@educator.errors.count, "error") %> prohibited this educator from being saved:</h2>

      <ul>
      <% @educator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :job_title %><br>
    <%= f.text_field :job_title %>
  </div>
  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_area :summary %>
  </div>
  <div class="field">
    <%= f.label :dob %><br>
    <%= f.date_select :dob %>
  </div>
  <div class="field">
    <%= f.label :ssn %><br>
    <%= f.number_field :ssn %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :ethnicity %><br>
    <%= f.text_field :ethnicity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
