<%= link_to 'New Educator', new_educator_path, :class=>"btn btn-primary pull-right" %>

<h1><i class="fa fa-apple"></i> Educators</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>First name</th>
      <th>Last name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @educators.each do |educator| %>
      <tr>
        <td><%= educator.title %></td>
        <td><%= educator.first_name %></td>
        <td><%= educator.last_name %></td>
        <td><%= link_to 'Show', educator %></td>
        <td><%= link_to 'Edit', edit_educator_path(educator) %></td>

      </tr>
    <% end %>
  </tbody>
</table>
