<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Edify" %></title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag '/favicon.ico', :rel => 'shortcut icon' %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
<!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <%= render 'top_nav' %>
    <div class="container">
      <div class="row">
          <%= yield %>
      </div><!--/row-->

      <footer class="navbar-nav navbar-inverted">
        <div class="navbar-nav navbar-right"><a href="#">&copy; Edify Online, LLC 2015</a></div>
      </footer>

    </div> <!-- /container -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </body>
</html>
